@import './variables';
@import './custom-table.scss';
@import './mixins.scss';
@import './custom.scss';
.custom-form-control, .custom-btn{
border: 1px solid #EBEBEB;
box-shadow: none;
border-radius: 2px;
font-size: 14px;
transition: all 0.3s ease;
padding: 6px 16px 7px 16px ;
color: #868686;
}

.custom-btn:hover{
background-color: #d4d4d4;
border:1px solid #8c8c8c;
color:$btn-primary-color-dark;
}

.custom-btn-primary
{
    @include button-style($brand-primary,$brand-primary);
}

.custom-btn-danger
{
    @include button-style($barnd-danger,$barnd-danger);
}






.custom-btn-primary2{
color: #000;
background-color:$brand-primary;
border-color:$brand-primary;
&:hover,
&:active,
&:focus,
&:active:focus,
&:active:hover{
background-color:$btn-primary-color-dark;
border-color:$btn-primary-color-dark;
color: #000;
}




}



.custom-btn-danger{
color:$barnd-danger;
border-color:$barnd-danger;
background-color: transparent;
border-radius: 3px;
&:hover,
&:active,
&:focus,
&:active:focus,
&:active:hover{
color:$btn-danger-color-dark;
border-color: $btn-danger-color-dark;
background-color: $btn-primary-color-dark;
}






}


